*,
*::after,
*::before{
    padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    min-height: 100%;
	background-color: #859c83;
	color: #2f2f2f;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
	font-size: 16px;
    line-height: 26px;
}


.card{
	max-width: 960px;
	max-height: 600px;
	background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardLeft,
.cardRight{
    display: inline-block;
}

.cardLeft{
    width: 40%;
    
}

.cardLeft img{
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.cardRight{
	width: 55%;
	margin-left: -4px;
	display: inline-block;
	padding: 5%;
	vertical-align: middle;
}

.cardRight p{
    margin-bottom: 3%;
}

h1{
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}

.Info{
    font-size: 22px;
    font-weight: normal;
}



.price{
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #282424;
    font-size: 18px;
    background: #859c83;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }
    
    .btn:hover {
    background: #202224;
    background-image: -webkit-linear-gradient(top, #788b76, #495748);
    background-image: -moz-linear-gradient(top, #788b76, #495748);
    background-image: -ms-linear-gradient(top, #788b76, #495748);
    background-image: -o-linear-gradient(top, #788b76, #495748);
    background-image: linear-gradient(to bottom, #788b76, #495748 );
    text-decoration: none;
    }

    .btn{
        text-align: center;
        margin-bottom: -5%;
    }
